.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .menuSliderContainer {
    width: 250;
    background-color: "red";
    height: "100%"
  };

  .listItem {
    color: "tan"
  }

  .navbar{
    display:'flex';
    flex-direction: row;
    flex : 1;
    align-self: center;
    justify-content: center
    
  }
;